---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to My Portfolio!!.">
	<main>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<input id="switch" type="checkbox" checked="">
<label class="switch-label" for="switch">電源 </label>

<div class="container">
  <div class="screen" id="screen">
	
	<div class="overlay"><p>Welcome to My Portfolio!</p></div>

    <img class="glitch" src="https://wadda0714.github.io/My_Portfolio/img/jordyblue.png" alt="">
	<div id="ground" style="position: absolute;top: 59%;left: 0%;">

	</div>
	<img id="cloud1" src="https://wadda0714.github.io/My_Portfolio/img/cloud.png" style="position: absolute; top:5%; left:15%">
  <img id="dokan1" src="https://wadda0714.github.io/My_Portfolio/img/dokan.png" style="position: absolute; top: 44%;left: 60%;">
	<img id="cloud2" src="https://wadda0714.github.io/My_Portfolio/img/cloud.png" style="position: absolute; top: 10%;left: 80%;">
	<h1 id="MadeBy" style="position:absolute; top: 1%; left: 100%; font-size: 150px;white-space: nowrap;">Made By Astro!</h1>
  <h1 id="CreatedBy" style="position:absolute; top: 1%; left: 200%; font-size: 150px;white-space: nowrap;">Created By Wadda!</h1>
	<a href="" id = "twitter" class="btn btn-twitter" style="position: absolute; top: 30%; left: 300%;">
		<span class="fab fa-twitter fa-fw"></span>
	</a>
  <svg id="github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16" style="position: absolute; top:30%;left: 350%;"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
  <img id="castle" src="https://wadda0714.github.io/My_Portfolio/img/castle.png" style="position: absolute; top: 29%; left: 400%;">
  <img id="mario" src="https://wadda0714.github.io/My_Portfolio/img/stand.png" style="position: absolute;top:40%;left: 10%;">
  <img id="kamekku" src="https://wadda0714.github.io/My_Portfolio/img/カメック.png" alt="" style="position: absolute;top:47%;left: 100%">

  

	

  </div>

</div>
	</main>
</Layout>

<!---<script>
var f = require("https://cdn.rawgit.com/deep-rain/thread/1.0.0/dist/thread.min.js")
console.log(f)
var elem11:any = document.getElementById("kamekku");
function MoveKamekku(){
  const keyframes = {
    left:["100%","0%"]
  }
    elem11.animate(keyframes,10000);
  }
 var thread = new f.Thread(MoveKamekku);
 thread.once().done(function(d: any){
  alert("aaa");
 })
 </script>-->

<script >
 
  var sound = new Audio("https://wadda0714.github.io/My_Portfolio/sound/nc67638.wav");
  var elem1:any = document.getElementById("cloud1");
	var elem2:any = document.getElementById("cloud2");
	var elem3:any = document.getElementById("dokan1");
  var elem4:any = document.getElementById("ground");
  var elem5:any = document.getElementById("mario");
	var elem6:any = document.getElementById("twitter");
  var elem7:any = document.getElementById("MadeBy");
  var elem8:any = document.getElementById("CreatedBy");
  var elem9:any = document.getElementById("github");
  var elem10:any = document.getElementById("castle");
 

  

  
  
  
  var elem11:any = document.getElementById("kamekku");

	const keyframes = {
    left:["100%","0%"]
  }
    elem11.animate(keyframes,10000);
  
	document.addEventListener("keypress",move_mario);


  function CheckObjectHit(elm1: HTMLElement | null, elm2: HTMLElement | null) {

    const d1 = elm1.getBoundingClientRect();
    const d2 = elm2.getBoundingClientRect();

    return !(
     d1.top > d2.bottom ||
     d1.right < d2.left ||
     d1.bottom < d2.top ||
     d1.left > d2.right
   );
  }
  function MoveElement(dist: number){
    elem1.style.left = parseFloat(elem1.style.left) + dist + "%";
		elem2.style.left = parseFloat(elem2.style.left) + dist + "%";
		elem3.style.left = parseFloat(elem3.style.left) + dist + "%";
		elem4.style.left = parseFloat(elem4.style.left) + dist + "%";
		elem6.style.left = parseFloat(elem6.style.left) + dist + "%";
    elem7.style.left = parseFloat(elem7.style.left) + dist + "%";
    elem8.style.left = parseFloat(elem8.style.left) + dist + "%";
    elem9.style.left = parseFloat(elem9.style.left) + dist + "%";
    elem10.style.left = parseFloat(elem10.style.left) + dist + "%";
   

    


  }
	function move_mario(e: { key: string; }){
		
		
		if(e.key=="d")
		{
			MoveElement(-0.5);
		}
		if(e.key=="a")
		{
			MoveElement(0.5);
		}
		if(e.key=="f")
		{
		
			
			elem5.src = "../docs/img/jump.png";
			sound.play();
			elem5.id = "mario_jump";
			elem5.style.top = "26%";
			MoveElement(-1.25);
      setTimeout(function(){
			    MoveElement(-1.25);
          
          if(CheckObjectHit(elem6,elem5)){
            elem6.style.top=parseInt(elem6.style.top) - 3 + "%";  
				    window.open("https://twitter.com/n4n4fusi7724");
			    }
				  elem5.id = "mario";
				  elem5.style.top="40%";
			    elem5.src = "../docs/img/stand.png";
			},300);
			
			
		
			
			
		}
		
	
	}

  
</script>

<style>


body {
  background: #111;
  color: #fff;
}

.btn-twitter { background-color: #1688DF; }
.btn {
	
    color: white;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 6px;
    font-size: 30px;
	  height: 60px;
    width: 60px;
    text-align: center;
}
#github{
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border-color: #121010;
}
#switch {
  display: none;
}
#switch ~ .container > .screen {
  -webkit-animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
          animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#switch:checked + .switch-label:before {
  border-color: #063;
  background: #2f9;
}
#switch:checked + .switch-label:after {
  content: "off";
}
#switch:checked ~ .container > .screen {
  -webkit-animation: turn-on 4s linear;
          animation: turn-on 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#switch:checked ~ .container:after {
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}
#switch:checked ~ .container .overlay {
  -webkit-animation: overlay-anim 5s linear;
          animation: overlay-anim 5s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.switch-label {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  color: #eee;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 2px;
  border: 2px solid #eee;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.switch-label:after {
  content: "on";
}
.switch-label:before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background: #003321;
  margin-right: 10px;
  border: 1px solid #111;
}
.switch-label:active {
  box-shadow: none;
  transform: translate3d(0, 2px, 0);
}

.container {
  background: #121010;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  border: 2px solid #666;
}
.container:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.screen {
  width: 100%;
  height: 100%;
  border: none;
}
.screen .glitch {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.overlay {
  color: #e4c955;
  position: absolute;
  top: 5%;
  left: 15%;
  font-size: 20px;
  font-size: 5.3333333333vw;
  visibility: hidden;
  pointer-events: none;
}
#ground{
	width: 1000000000px;
	height: 100%;
	background-repeat: repeat-x;
	background-image: url("https://wadda0714.github.io/My_Portfolio/img/grounds.png");
	background-size: auto 100%; /* 画像の高さ */
  animation: loop 20s linear infinite; 
    
}
#mario{
	width: 200px;
}
#mario_jump{
	width: 200px;
}
#cloud1{
	width: 200px;
}
#cloud2{
	
	width: 200px;
}
#dokan1{
	width: 200px;
}
#castle{
  width: 300px;
}
#kamekku{
  width: 200px;
}



@-webkit-keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.553837913;
  }
  15% {
    opacity: 0.6036055062;
  }
  20% {
    opacity: 0.7944024886;
  }
  25% {
    opacity: 0.6391857799;
  }
  30% {
    opacity: 0.9741959058;
  }
  35% {
    opacity: 0.6858714769;
  }
  40% {
    opacity: 0.9432400053;
  }
  45% {
    opacity: 0.7751578803;
  }
  50% {
    opacity: 0.3516569645;
  }
  55% {
    opacity: 0.3028178001;
  }
  60% {
    opacity: 0.8980641302;
  }
  65% {
    opacity: 0.5171085801;
  }
  70% {
    opacity: 0.38296066;
  }
  75% {
    opacity: 0.6131817166;
  }
  80% {
    opacity: 0.0845175518;
  }
  85% {
    opacity: 0.7226975189;
  }
  90% {
    opacity: 0.8019876936;
  }
  95% {
    opacity: 0.9772554107;
  }
  100% {
    opacity: 0.7407674243;
  }
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0.553837913;
  }
  15% {
    opacity: 0.6036055062;
  }
  20% {
    opacity: 0.7944024886;
  }
  25% {
    opacity: 0.6391857799;
  }
  30% {
    opacity: 0.9741959058;
  }
  35% {
    opacity: 0.6858714769;
  }
  40% {
    opacity: 0.9432400053;
  }
  45% {
    opacity: 0.7751578803;
  }
  50% {
    opacity: 0.3516569645;
  }
  55% {
    opacity: 0.3028178001;
  }
  60% {
    opacity: 0.8980641302;
  }
  65% {
    opacity: 0.5171085801;
  }
  70% {
    opacity: 0.38296066;
  }
  75% {
    opacity: 0.6131817166;
  }
  80% {
    opacity: 0.0845175518;
  }
  85% {
    opacity: 0.7226975189;
  }
  90% {
    opacity: 0.8019876936;
  }
  95% {
    opacity: 0.9772554107;
  }
  100% {
    opacity: 0.7407674243;
  }
}
@-webkit-keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.1) saturate(1.1);
    opacity: 1;
	
  }
}
@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.1) saturate(1.1);
    opacity: 1;
  }
}
@-webkit-keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    filter: brightness(10);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    filter: brightness(50);
  }
}
@keyframes turn-off {
  0% {
    transform: scale(1, 1.3) translate3d(0, 0, 0);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    filter: brightness(10);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(0, 0.0001) translate3d(0, 0, 0);
    filter: brightness(50);
  }
}
@-webkit-keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
</style>


